table{
    border-collapse: collapse;
    margin-bottom: 15px;
}
td{
    border: 1px solid; 
    text-align: center;
    background-color: cyan;
}
.table{
    background-color: blue;
    display: inline;
}
.mass-number{
    font-size: 12px;
    float: left;
}
.symbol{
    float: left;
    font-size: 12px;
}
td:hover{
    background-color: lime;
    color: white;
}
.form-wrap:hover{
    color: red;
}
.empty-field{
    background-color: white; 
}
.empty-field:hover{
    background-color: white;
}